<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Doggo - Contact Form</title>
    <link type="text/css" th:href="@{/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="menu-container">
            <div class="nav-logo">
                <h2><a th:href="@{/index}">DOGGO</a></h2>
            </div>
            <ul class="nav-container">
                <li sec:authorize="isAnonymous()" class="nav-item"><a th:href="@{/login}" >Login</a></li>
                <li class="nav-item"><a th:href="@{/pet}">Add Pet</a></li>
                <li class="nav-item"><a th:href="@{/profile}">Profile</a></li>
                <li class="nav-item"><a th:href="@{/reservation}">Make a Reservation</a></li>
                <li class="nav-item"><a th:href="@{/contact}">Add Contact</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/login}">Log out</a></li>
                <li sec:authorize="isAnonymous()" class="nav-itemblue"><a th:href="@{/signup}">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <form
            method="post"
            role="form"
            th:action="@{/contact/save}"
            th:object="${contact}">
        <div class="form_container">
            <header class="head-form">
                <h2>Contact</h2>
                <p>Please fill in your contact details</p>
            </header>
            <br>
            <div class="field-set">
                    <span>
                          <label for="street">Street:</label>
                          <input id="street" name="street" th:field="*{street}" type="text">
                    </span>
                    <span>
                          <label for="city" >City:</label>
                          <input id="city" th:field="*{city}" type="text">
                    </span>
                    <span>
                          <label for="telephone">Telephone</label>
                          <input id="telephone" th:field="*{phoneNumber}" type="text">
                    </span>
                    <span>
                          <button class="log-in" onclick="validateSignUp()" type="submit"> Sign Up </button>
                    </span>
            </div>
        </div>
    </form>
</body>
</html>